.DS_Store
.gpt.key.txt
configstore
custom.interesting-to-look-at
dotfiles.nkpremices
fish
fontforge
github-copilot
iterm2
jgit
k3d
lvim.old
Microsoft*
nvim.new
nvim.nvchad1.old
nvim.zip
path
psysh
zed
